* {
    scroll-behavior: smooth;
}

body {
    background-color: #1C2128;
    color: #F0F0F0;
}

/* Heading */
h1, h2, h3 {
    color: #FFFFFF;
    font-weight: 700;
}

red {
    color: #e20303;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

blue {
    color: #0066db;
}

orange {
    color: #ff6600;
}

/* Divider */
hr {
    margin-left: 10%;
    margin-right: 10%;
    border-width: 1px;
}

/* Main content */
.container {
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.container h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 36px;
}

/* Row in which cards are displayed */
.container .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    margin-left: 10px;
}

/* Card */
.container .row .card {
    background-color: #22272E;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 325px;
    border-radius: 5px;
    border: #8899A6 solid 1px;
    margin: 10px;
}

/* Card Image - Responsive*/
.container .row .card img {
    max-height: 180px;
    height: auto;
    width: 100%;
}

/* Card text */
.container .row .card .text {
    padding: 2px 16px;
}

/* Card header */
.container .row .card .text a {
    color: #F0F0F0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}

/* Underline heading if hovered */
.container .row .card .text a:hover {
    text-decoration: underline;
}

/* cut text in middle if more that 3 lines */
.container .row .card .text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: var(--word-break, 'none');
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    color: rgb(118, 131, 144);
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    text-decoration: none;
}

/* Footer */
footer {
    padding-inline: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 64px;
    margin-top: 32px;
    border-radius: 24px;
    border: #8899A6 solid 1px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer li {
    display: inline-block;
    marker: none;
    list-style: none;
    margin-right: 0;
    margin-left: 8px;
}

footer li a {
    color: #F0F0F0;
    text-decoration: none;
}

/*  Responsive  */
@media (max-width: 1200px) {
    .container {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
    .container .row .card .text a{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: var(--word-break, 'none');
        overflow: hidden;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .container {
        margin-left: 2%;
        margin-right: 2%;
    }

    .container .row {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }

    .container .row .card {
        width: 100%;
    }

    .container .row .card img {
        max-height: fit-content;
        height: auto;
    }

    .container .row .card .text a {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: var(--word-break, 'none');
        overflow: hidden;
    }

    footer {
        margin-inline: 10px;
    }
}
