@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: #ffffff;
    --foreground: hsl(222.2 84% 4.9%);
    --card: #f3f4f6;
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: #6b21a8;
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: #2563eb;
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(221.2 83.2% 53.3%);
    --radius: 0.75rem;
  }

  .dark {
    --background: #050505;
    --foreground: hsl(210 40% 98%);
    --card: #0F0F0F;
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: #6f096f;
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: #3b82f6;
    --accent-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #1d4ed8;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}