@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
    @apply m-0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.1371 0.036 258.5258);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1371 0.036 258.5258);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1371 0.036 258.5258);
    --primary: oklch(0.2079 0.0399 265.7275);
    --primary-foreground: oklch(0.9838 0.0035 247.8583);
    --secondary: oklch(0.9684 0.0068 247.8951);
    --secondary-foreground: oklch(0.2079 0.0399 265.7275);
    --muted: oklch(0.9684 0.0068 247.8951);
    --muted-foreground: oklch(0.5547 0.0407 257.4404);
    --accent: oklch(0.9684 0.0068 247.8951);
    --accent-foreground: oklch(0.2079 0.0399 265.7275);
    --destructive: oklch(0.6368 0.2078 25.3259);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.929 0.0126 255.5317);
    --input: oklch(0.929 0.0126 255.5317);
    --ring: oklch(0.1371 0.036 258.5258);
    --chart-1: oklch(0.2079 0.0399 265.7275);
    --chart-2: oklch(0.5547 0.0407 257.4404);
    --chart-3: oklch(0.9684 0.0068 247.8951);
    --chart-4: oklch(0.6368 0.2078 25.3259);
    --chart-5: oklch(0.2103 0.0059 285.8835);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.1371 0.036 258.5258);
    --sidebar-primary: oklch(0.2079 0.0399 265.7275);
    --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-accent: oklch(0.9684 0.0068 247.8951);
    --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
    --sidebar-border: oklch(0.929 0.0126 255.5317);
    --sidebar-ring: oklch(0.1371 0.036 258.5258);
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.1rem;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.1;
    --shadow-color: 0 0% 0%;
    --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.25);
    --tracking-normal: normal;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2446 0.0195 276.0206);
    --foreground: oklch(0.9838 0.0035 247.8583);
    --card: oklch(0.2446 0.0195 276.0206);
    --card-foreground: oklch(0.9838 0.0035 247.8583);
    --popover: oklch(0.2446 0.0195 276.0206);
    --popover-foreground: oklch(0.9838 0.0035 247.8583);
    --primary: oklch(0.694 0.1632 317.9691);
    --primary-foreground: oklch(0.2446 0.0195 276.0206);
    --secondary: oklch(0.3015 0.0265 275.8811);
    --secondary-foreground: oklch(0.9838 0.0035 247.8583);
    --muted: oklch(0.3015 0.0265 275.8811);
    --muted-foreground: oklch(0.7119 0.0129 286.0684);
    --accent: oklch(0.3015 0.0265 275.8811);
    --accent-foreground: oklch(0.694 0.1632 317.9691);
    --destructive: oklch(0.5771 0.2151 27.3187);
    --destructive-foreground: oklch(0.9838 0.0035 247.8583);
    --border: oklch(0.347 0.032 275.8051);
    --input: oklch(0.347 0.032 275.8051);
    --ring: oklch(0.694 0.1632 317.9691);
    --chart-1: oklch(0.694 0.1632 317.9691);
    --chart-2: oklch(0.7092 0.1416 293.9874);
    --chart-3: oklch(0.8117 0.0655 206.3188);
    --chart-4: oklch(0.913 0.1006 91.7089);
    --chart-5: oklch(0.7213 0.1181 16.1784);
    --sidebar: oklch(0.2446 0.0195 276.0206);
    --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
    --sidebar-primary: oklch(0.694 0.1632 317.9691);
    --sidebar-primary-foreground: oklch(0.2446 0.0195 276.0206);
    --sidebar-accent: oklch(0.3015 0.0265 275.8811);
    --sidebar-accent-foreground: oklch(0.694 0.1632 317.9691);
    --sidebar-border: oklch(0.347 0.032 275.8051);
    --sidebar-ring: oklch(0.694 0.1632 317.9691);
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.3;
    --shadow-color: 0 0% 0%;
    --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.15);
    --shadow-xs: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.15);
    --shadow-sm:
        0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.3),
        0 1px 2px -1px hsl(0 0% 0% / 0.3);
    --shadow:
        0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.3),
        0 1px 2px -1px hsl(0 0% 0% / 0.3);
    --shadow-md:
        0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.3),
        0 2px 4px -1px hsl(0 0% 0% / 0.3);
    --shadow-lg:
        0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.3),
        0 4px 6px -1px hsl(0 0% 0% / 0.3);
    --shadow-xl:
        0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.3),
        0 8px 10px -1px hsl(0 0% 0% / 0.3);
    --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrainsMono", monospace;
    --font-serif: "Lora", Georgia, serif;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --animate-shine: shine var(--duration) infinite linear;
    @keyframes shine {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        to {
            background-position: 0% 0%;
        }
    }
}

@theme inline {
    --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

    @keyframes orbit {
        0% {
            transform: rotate(calc(var(--angle) * 1deg))
                translateY(calc(var(--radius) * 1px))
                rotate(calc(var(--angle) * -1deg));
        }
        100% {
            transform: rotate(calc(var(--angle) * 1deg + 360deg))
                translateY(calc(var(--radius) * 1px))
                rotate(calc((var(--angle) * -1deg) - 360deg));
        }
    }
}

body {
    letter-spacing: var(--tracking-normal);
}
